@model calculateMWT.Models.GameInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>GameInfo</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.developer)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.developer)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.hours)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.hours)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.info)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.info)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
